# pandas DataFrame 내용 분석
DataFrame의 내용을 빠르게 분석하는 것을 도와줍니다.

pandas 라이브러리를 가져 와서 공항에 대한 정보로 채워진 DataFrame을 만들어 보겠습니다.

In [1]:
import pandas as pd

In [2]:
airports = pd.DataFrame([
                        ['Seatte-Tacoma', 'Seattle', 'USA'],
                        ['Dulles', 'Washington', 'USA'],
                        ['Heathrow', 'London', 'United Kingdom'],
                        ['Schiphol', 'Amsterdam', 'Netherlands'],
                        ['Changi', 'Singapore', 'Singapore'],
                        ['Pearson', 'Toronto', 'Canada'],
                        ['Narita', 'Tokyo', 'Japan']
                        ],
                        columns = ['Name', 'City', 'Country']
                        )

airports

            Name        City         Country
0  Seatte-Tacoma     Seattle             USA
1         Dulles  Washington             USA
2       Heathrow      London  United Kingdom
3       Schiphol   Amsterdam     Netherlands
4         Changi   Singapore       Singapore
5        Pearson     Toronto          Canada
6         Narita       Tokyo           Japan

## 첫 *n* 행 반환하기
수천 개의 행이 있는 경우 처음 몇 행만보고 싶을 수 있습니다.

* **head**(*n*)는 *n* 행의 첫 부분을 반환합니다.

In [3]:
airports.head(3)

            Name        City         Country
0  Seatte-Tacoma     Seattle             USA
1         Dulles  Washington             USA
2       Heathrow      London  United Kingdom

## 마지막 *n* 행 반환하기
DataFrame의 마지막 행을 찾는 것은 당신의 데이터를 올바로 로드하는 지 체크하는 좋은 방법이 될 수 있습니다.
* **tail**(*n*)은 마지막 *n* 번째 행을 반환합니다.

In [4]:
은airports.tail(3)

      Name       City    Country
4   Changi  Singapore  Singapore
5  Pearson    Toronto     Canada
6   Narita      Tokyo      Japan

## DataFrame의 행 및 열의 수 체크하기
때때로 DataFrame에 몇개의 데이터가 있는지 알 필요가 있습니다.

* **shape**은 행과 열의 수를 반환합니다.

In [5]:
airports.shape

(7, 3)

## DataFrame에 대한 더 자세한 정보 얻기

* **info**()은 DataFrame에 대한 더 자세한 정보를 반환합니다.

해당 정보를 반환합니다:
* 행의 수와 인덱스 값의 범위
* 열의 수
* 각 열의 내용 : 열 이름, non-null 값의 수, 데이터타입

In [6]:
airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
Name       7 non-null object
City       7 non-null object
Country    7 non-null object
dtypes: object(3)
memory usage: 148.0+ bytes